@model IList<Park>
@{
    ViewData["Title"] = "National Park Geek";
}

<div>
    <form asp-controller="Home" asp-action="Index">
        @foreach (Park park in Model)
        {
            <table class="table breadcrumb">
                <tr>
                    <td>
                        @*link to detail page when picture is selected*@
                        <a class="park-image" asp-controller="Home" asp-action="Detail" asp-route-parkcode="@park.ParkCode">
                            <img src="~/images/img/parks/@(park.ParkCode).jpg" />
                        </a>
                    </td>

                    <td>
                        @* link to detail page when name of park is selected*@
                        <h3>
                            <a class="park-name" asp-controller="Home" asp-action="Detail" asp-route-parkcode="@park.ParkCode">
                                @park.Name
                            </a>
                        </h3>
                        <p> @park.State</p>
                        <p> @park.Description</p> 
                    </td>
                </tr>

            </table>
        }
    </form>
</div>